<html>
<head>
	<meta charset="utf-8">
	<style type="text/css">
		.bottom{
			width: 100px;
			height: 20px;	
		}
		.left{
			position: absolute;
			float: left;
			width: 250px;
			height: 100%;	
		}
		.right{
			height: 100%;
        	width: calc(100% - 250px);
        	float: right;
		}
		.major_function{
			border: 1px solid black;
			width: 250px;
			height: 250px;	
		}
		.user_information{
			border: 1px solid black;
			width: 250px;
			height: calc(100% - 250px);
			
		}
		.right_top{
			
			height: 250px;
		}
		.prompt_information{
			
			height: calc(100% - 250px);
			
		}
	</style>
</head>
	<body background="/images/bg.png">
		<div class="left">
			<div class="major_function">
				<br/>
				<h4 align="center">主要功能</h4>
				<form align="center">
				<a href="home" style="text-decoration:none">
				首&nbsp&nbsp页</a>
				<br/><br/>
				<a href="write" style="text-decoration:none">
				写&nbsp&nbsp信</a>
				<br/><br/>
				<a href="receive" style="text-decoration:none">
				收&nbsp&nbsp信</a>
				<br/><br/>
				<a href="status" style="text-decoration:none">
				查看状态
				</a>
				</form>
			</div>
		

			<div class="user_information" align="center">
				<br/><br/><br/><br/><br/>
				<p>
				<b>头像：</b>
				<img src="/images/head_image.png" width="100" height="100" />
				</p>
				<b>昵称：</b>
				<%= username %>
				<br/><br/>
				<b>账号：</b>
				<%= email_id %>
			</div>
		</div>
	<div class="right">
		<div class="right_top">
			
		</div>
		<div class="prompt_information" >
			<form name="form3" action="action_form" method="POST">&nbsp&nbsp&nbsp&nbsp
			<label>操作栏</label>
			<input type="submit" name="action" value="删除" class="bottom">
			<input type="submit" name="action" value="标记已读" class="bottom">
			<input type="submit" name="action" value="标记未读" class="bottom">
			<input type="submit" name="action" value="拒收" class="bottom">
			<br/><br/>&nbsp&nbsp&nbsp&nbsp
			<input type="checkbox" name="letter1"><a href="/D:/HTML/阅读界面.html" style="text-decoration:none">发信人账号</a>【未读】
			<br /><br/>&nbsp&nbsp&nbsp&nbsp
			<input type="checkbox" name="letter2"><a href="/D:/HTML/阅读界面.html" style="text-decoration:none">发信人账号</a>【未读】
			<br /><br/>&nbsp&nbsp&nbsp&nbsp
			<input type="checkbox" name="letter3"><a href="/D:/HTML/阅读界面.html" style="text-decoration:none">发信人账号</a>【未读】
			<br /><br/>&nbsp&nbsp&nbsp&nbsp
			<input type="checkbox" name="letter4"><a href="/D:/HTML/阅读界面.html" style="text-decoration:none">发信人账号</a>【未读】
			<br /><br/>&nbsp&nbsp&nbsp&nbsp
			<input type="checkbox" name="letter5"><a href="/D:/HTML/阅读界面.html" style="text-decoration:none">发信人账号</a>【未读】
			<br /><br/>&nbsp&nbsp&nbsp&nbsp
			<input type="checkbox" name="letter6"><a href="/D:/HTML/阅读界面.html" style="text-decoration:none">发信人账号</a>【未读】
			<br /><br/>&nbsp&nbsp&nbsp&nbsp
			<input type="checkbox" name="letter7"><a href="/D:/HTML/阅读界面.html" style="text-decoration:none">发信人账号</a>【未读】
			<br /><br/>&nbsp&nbsp&nbsp&nbsp
			<input type="checkbox" name="letter8"><a href="/D:/HTML/阅读界面.html" style="text-decoration:none">发信人账号</a>【未读】
			<br /><br/>&nbsp&nbsp&nbsp&nbsp
			<input type="checkbox" name="letter9"><a href="/D:/HTML/阅读界面.html" style="text-decoration:none">发信人账号</a>【未读】
			<br /><br/>&nbsp&nbsp&nbsp&nbsp
			<input type="checkbox" name="letter10"><a href="/D:/HTML/阅读界面.html" style="text-decoration:none">发信人账号</a>【未读】
			<br /><br/>&nbsp&nbsp&nbsp&nbsp
			<input type="checkbox" name="letter11"><a href="/D:/HTML/阅读界面.html" style="text-decoration:none">发信人账号</a>【未读】
			<br /><br/>&nbsp&nbsp&nbsp&nbsp
			<input type="checkbox" name="letter12"><a href="/D:/HTML/阅读界面.html" style="text-decoration:none">发信人账号</a>【未读】
			<br /><br/>&nbsp&nbsp&nbsp&nbsp
			<input type="checkbox" name="letter13"><a href="/D:/HTML/阅读界面.html" style="text-decoration:none">发信人账号</a>【未读】
			<br /><br/>&nbsp&nbsp&nbsp&nbsp
			<input type="checkbox" name="letter14"><a href="/D:/HTML/阅读界面.html" style="text-decoration:none">发信人账号</a>【未读】
			<br /><br/>&nbsp&nbsp&nbsp&nbsp
			<input type="checkbox" name="letter15"><a href="/D:/HTML/阅读界面.html" style="text-decoration:none">发信人账号</a>【未读】
			<br /><br/>&nbsp&nbsp&nbsp&nbsp
			<input type="checkbox" name="letter16"><a href="/D:/HTML/阅读界面.html" style="text-decoration:none">发信人账号</a>【未读】
			<br /><br/>&nbsp&nbsp&nbsp&nbsp
			<input type="checkbox" name="letter17"><a href="/D:/HTML/阅读界面.html" style="text-decoration:none">发信人账号</a>【未读】
			<br /><br/>&nbsp&nbsp&nbsp&nbsp
			<input type="checkbox" name="letter18"><a href="/D:/HTML/阅读界面.html" style="text-decoration:none">发信人账号</a>【未读】
			<br /><br/>&nbsp&nbsp&nbsp&nbsp
			<input type="checkbox" name="letter19"><a href="/D:/HTML/阅读界面.html" style="text-decoration:none">发信人账号</a>【未读】
			<br /><br/>&nbsp&nbsp&nbsp&nbsp
			<input type="checkbox" name="letter20"><a href="/D:/HTML/阅读界面.html" style="text-decoration:none">发信人账号</a>【未读】
			<br /><br/>

		</form>
		</div>
	</div>
</body>
</html>