<html>
<head>
	<meta charset="utf-8">
	<style type="text/css">
		.left{
			position: absolute;
			float: left;
			width: 250px;
			height: 100%;	
		}
		.right{
			height: 100%;
        	width: calc(100% - 250px);
        	float: right;
		}
		.major_function{
			border: 1px solid black;
			width: 250px;
			height: 250px;	
		}
		.user_information{
			border: 1px solid black;
			width: 250px;
			height: calc(100% - 250px);
			
		}
		.right_top{
			
			height: 250px;
		}
		.prompt_information{
			
			height: calc(100% - 250px);
			
		}
	</style>
</head>
	<body background="/images/bg.png">
		<div class="left">
			<div class="major_function">
				<br/>
				<h4 align="center">主要功能</h4>
				<form align="center">
				<a href="home" style="text-decoration:none">
				首&nbsp&nbsp页</a>
				<br/><br/>
				<a href="write" style="text-decoration:none">
				写&nbsp&nbsp信</a>
				<br/><br/>
				<a href="receive" style="text-decoration:none">
				收&nbsp&nbsp信</a>
				<br/><br/>
				<a href="status" style="text-decoration:none">
				查看状态
				</a>
				</form>
			</div>
		

			<div class="user_information" align="center">
				<br/><br/><br/><br/><br/>
				<p>
				<b>头像：</b>
				<img src="/images/head_image.png" width="100" height="100" />
				</p>
				<b>昵称：</b>
				<%= username %>
				<br/><br/>
				<b>账号：</b>
				<%= email_id %>
			</div>
		</div>
	<div class="right">
		<div class="right_top">
			
		</div>
		<div class="prompt_information" align="center">
			<form>
			未到达信件
			<select name="cars" class="checkbox">
			<option value="letter1">信件1</option>
			<option value="letter2">信件2</option>
			<option value="letter3">信件3</option>
			<option value="letter4">信件4</option>
			</select>
		</form>
		<textarea cols="102" rows="20">


			信件到哪了。
			

			信件所在城市天气。
			

			已发送天数。
			

			剩余到达天数。

			

		</textarea>
		</div>
	</div>
</body>

</html>